@import "tailwindcss";

@theme {
	--color-primary: #a776ed;
	--color-secondary: #6d2fc7;
	--color-background: #F8F6F0;
	--color-background-dark: #e0ded9;
	--color-text: #333333;
}

:root {
	--text: #333333;
	--bg: #F8F6F0;
	--sans: system-ui, 'Segoe UI', Roboto, sans-serif;
	--heading: system-ui, 'Segoe UI', Roboto, sans-serif;
	--mono: ui-monospace, Consolas, monospace;

	font: 18px/145% var(--sans);
	letter-spacing: 0.18px;
	color-scheme: light dark;
	color: var(--text);
	background: var(--bg);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	scroll-behavior: smooth;
}